* {
	box-sizing: border-box;
}

body {
    padding-top: 50px;
    font-size: 24px;
}

header {
	text-align: center;
}

h1 {
	font-weight: bold;
}

ul {
    padding: 0;
    margin: 15px auto 0;
    list-style-type: none;
    text-align: center;
}

.cell-style {
	border-radius: 5px;
	padding: 10px 20px;
	margin: 4px auto;
	width: 220px;	
}

li {
	margin-left: 0px;
}

.card-bucket {
    padding: 40px 15px;
    text-align: center;
}

.category-card {
	display: inline-block;
	border-radius: 10px;
	background-color: white;
	width: 250px;
	vertical-align: top;
	cursor: pointer;
	margin: 2px;
	padding: 8px 2px 5px 2px;
}

.category-header {
	padding: 5px 10px;
	background-color: #333;
	color: white;
}

.task-list {

}

.newTaskFormCell {
	margin-top: 4px;
	border: dashed 2px #67dd00;
	color: black;
	padding: 5px 0;
}

.taskInputStyle {
	border: none;
	background-color: #eee;
	font-size: 22px;
	color: #333;
}

:focus {
  	outline-color: transparent;
  	outline-style: none;
}

.taskField {
	width: 125px;
}

.daysField {
	width: 35px;
}

.new-task-btn {
	border: dashed 2px #67dd00;
/*	font-size: 24px;*/
	padding: 5px 0;
}

.glyphicon {
	color: #67dd00;
	vertical-align: middle;
	margin-bottom: 3px;
}

.taskSubmit {
	display: inline-block;
/*	font-size: 24px;*/
}

.daysSubmit {
	display: inline-block;
/*	font-size: 24px;*/
}

.daysLabel {
	display: inline-block;
/*	font-size: 24px;*/
	color: #333;
	margin-right: 30px;
}


.active-category {
/*	border: #333 3px solid;*/
    background-color: #eee;
    box-shadow: 3px 3px #ccc;
}

.disabled {
	color: #333;
	cursor: default;
}

.hidden {
	display: none;
}