* {
	box-sizing: border-box;
}

body {
    padding-top: 50px;
}

header {
	text-align: center;
}

ul {
    padding: 0;
    margin: 15px auto 0;
    list-style-type: none;
    text-align: center;
}

.cell-style {
	border-radius: 5px;
	padding: 10px 20px;
	margin: 4px auto;
	width: 220px;	
}

li {
	margin-left: 0px;
}

.card-bucket {
    padding: 40px 15px;
    text-align: center;
}

.category-card {
	display: inline-block;
	border-radius: 10px;
	background-color: white;
	width: 250px;
	vertical-align: top;
	cursor: pointer;
	margin: 2px;
	padding: 8px 2px 5px 2px;
}

.category-header {
	padding: 5px 10px;
	background-color: #333;
	color: white;
}

.task-list {

}

.new-task-btn {
	border: dashed 2px #67dd00;
	color: #67dd00;
}


.active-category {
/*	border: #333 3px solid;*/
    background-color: #eee;
    box-shadow: 3px 3px #ccc;
}

.hidden {
	display: none;
}