* {
	box-sizing: border-box;
}

body {
    padding-top: 20px;
    font-size: 24px;
}

header {
	text-align: center;
	vertical-align: top;
}

h1 {
	font-weight: bold;
	font-size: 72px;
}

#new-cat-btn {
	border: dashed 2px #333;
	color: #333;
	cursor: pointer;
	display: inline-block;
	vertical-align: center;
	margin: 14px 13px 0 13px;
	padding: 5px 0;
}

#clear {
	color: red;
	cursor: pointer;
	font-size: 20px;
	display: inline-block;
	margin-bottom: 10px;
}

#grey-plus-sign {
	color: #333;
	padding-left: 5px;
}

#red-remove-sign {
	color: red;
	padding-left: 5px;	
}

ul {
    padding: 0;
    margin: 0 auto;
    list-style-type: none;
    text-align: center;
}

.cell-style {
	border-radius: 5px;
	padding: 10px 20px;
	margin: 4px auto;
	width: 220px;	
}

li {
	margin-left: 0px;
}

.card-bucket {
    padding: 40px 15px;
    text-align: center;
}

.category-card {
	display: inline-block;
	border-radius: 10px;
	background-color: white;
	width: 250px;
	vertical-align: top;
	cursor: pointer;
	margin: 2px;
	padding: 8px 2px 5px 2px;
}

.category-header {
	font-size: 25px;
	font-weight: bold;
	background-color: #333;
	color: white;
}

.task-list {

}

.newTaskFormCell {
	margin-top: 4px;
	border: dashed 2px #67dd00;
	color: black;
	padding: 5px 0;
}

.newCatFormCell {
	display: inline-block;
	margin-top: 4px;
	border: dashed 2px #333;
	color: black;
	padding: 5px 0;
}
.newCatContainer {
	display: inline-block;
	background-color: #eee;
    box-shadow: 3px 3px #ccc;
    border-radius: 10px;
	width: 250px;
	vertical-align: top;
	margin: 2px;
	padding: 8px 2px 5px 2px;
}

.catNameSubmitBtn {
	cursor: pointer;
}

.taskInputStyle {
	border: none;
	background-color: #eee;
	font-size: 22px;
	color: #333;
}

:focus {
  	outline-color: transparent;
  	outline-style: none;
}

.catNameField {
	width: 125px;
}

.taskField {
	width: 125px;
}

.daysField {
	width: 35px;
}

.new-task-btn {
	border: dashed 2px #67dd00;
	padding: 5px 0;
}

.glyphicon {
	color: #67dd00;
	vertical-align: middle;
	margin-bottom: 3px;
}

.catNameSubmit {
	display: inline-block;
}

.taskSubmit {
	display: inline-block;
}

.daysSubmit {
	display: inline-block;
}

.daysLabel {
	display: inline-block;
	color: #333;
	margin-right: 30px;
}

.active-category {
    background-color: #eee;
    box-shadow: 3px 3px #ccc;
}

.disabled {
	color: #333;
	cursor: default;
}

.hidden {
	display: none;
}